mixin simpleInput(prettyName, codeName, errorMessages, settings)
	div.form-group(class=(errorMessages && errorMessages[codeName]) ? "has-error" : "")
		label(for=(codeName + "Input"))= (prettyName+ ((settings && settings.note) ? (" ("+settings.note+")") : ""))
		div.input-group
			block inputArea
				input.form-control(id=(codeName + "Input"), minlength=((settings && settings.minLength) ? settings.minLength : 0), maxLength=((settings && settings.maxLength) ? settings.maxLength : 500), required=(settings && settings.required), name=(codeName), type=((settings && settings.type) ? settings.type : "text"), placeholder=((settings && settings.placeholder) ? settings.placeholder : ""), readonly=(settings && settings.readonly), disabled=(settings && settings.disabled), value=((settings&&settings.value) ? settings.value : ""), pattern=((settings && settings.type == "number") ? "[0-9]*" : ""))
			if settings && settings.type == "number"
				.input-group-append
					span.plusminusbutton.input-group-text(onclick="$('#"+(codeName + "Input")+"').val((i, old) => ++old)") +
				.input-group-append
					span.plusminusbutton.input-group-text(onclick="$('#"+(codeName + "Input")+"').val((i, old) => --old)", style="border-left: 0.1px solid lightgrey") −
			if settings && settings.postfix
				.input-group-append
					span.input-group-text= settings.postfix
		div.help-block= (errorMessages && errorMessages[codeName] ? errorMessages[codeName] : "")


mixin dropDownInput(prettyName, codeName, errorMessages, options, settings)
	div.form-group(class=(errorMessages && errorMessages[codeName]) ? "has-error" : "")
		label(for=(codeName + "Input"))= (prettyName+ ((settings && settings.note) ? (" ("+settings.note+")") : ""))
		select.form-control(id=(codeName + "Input"), name=(codeName), readonly=(settings && settings.readonly), value=((settings&&settings.value) ? settings.value : ""))
			each option in options
				option= option
		div.help-block= errorMessages && errorMessages[codeName] ? errorMessages[codeName] : ""

mixin textAreaInput(prettyName, codeName, errorMessages, options, settings)
	div.form-group(class=(errorMessages && errorMessages[codeName]) ? "has-error" : "")
		label(for=(codeName + "Input"))= (prettyName+ ((settings && settings.note) ? (" ("+settings.note+")") : ""))
		textarea.form-control(id=(codeName + "Input"), name=(codeName), required=(settings && settings.required), readonly=(settings && settings.readonly), value=((settings&&settings.value) ? settings.value : ""))
		div.help-block= errorMessages && errorMessages[codeName] ? errorMessages[codeName] : ""

mixin datalistInput(prettyName, codeName, errorMessages, options, settings)
	div.form-group(class=(errorMessages && errorMessages[codeName]) ? "has-error" : "")
		label(for=(codeName + "Input"))= (prettyName+ ((settings && settings.note) ? (" ("+settings.note+")") : ""))
		div(class=(settings && settings.postfix ? "input-group" : ""))
			block inputArea
				input.form-control(id=(codeName + "Input"), list=(codeName+"s"), minlength=((settings && settings.minLength) ? settings.minLength : 0), maxLength=((settings && settings.maxLength) ? settings.maxLength : 500), required=(settings && settings.required), name=(codeName), placeholder=((settings && settings.placeholder) ? settings.placeholder : ""), readonly=(settings && settings.readonly), value=((settings && settings.value) ? settings.value : ""))
				datalist(id=(codeName+"s"))
					each o in options
						option(value=o)
			if settings && settings.postfix && true
				span.input-group-addon= settings.postfix
		div.help-block= errorMessages && errorMessages[codeName] ? errorMessages[codeName] : ""

mixin yesNoInput(prettyName, codeName, errorMessages, settings)
	+dropDownInput(prettyName, codeName, errorMessages, ["Decline to State", "Yes", "No"], settings)

mixin likertInput(prettyName, codeName, lowDescription, highDescription, errorMessages, settings)
	div.form-group(class=(errorMessages && errorMessages[codeName]) ? "has-error" : "")
		label(for=(codeName + "Input"))= (prettyName+ ((settings && settings.note) ? (" ("+settings.note+")") : ""))
		div.input-group
			block inputArea
				<div class="btn-group btn-group-toggle" data-toggle="buttons" style="width: 100%">
					<label class="btn btn-secondary">
					<input type="radio" name="#{codeName}" autocomplete="off", value="1"> 1 - #{lowDescription}
				</label>
				<label class="btn btn-secondary">
					<input type="radio" name="#{codeName}" autocomplete="off", value="2"> 2
				</label>
				<label class="btn btn-secondary">
					<input type="radio" name="#{codeName}" autocomplete="off", value="3"> 3
				</label>
				<label class="btn btn-secondary">
					<input type="radio" name="#{codeName}" autocomplete="off", value="4"> 4
				</label>
				<label class="btn btn-secondary">
					<input type="radio" name="#{codeName}" autocomplete="off", value="5"> 5
				</label>
				<label class="btn btn-secondary">
					<input type="radio" name="#{codeName}" autocomplete="off", value="6"> 6
				</label>
				<label class="btn btn-secondary">
					<input type="radio" name="#{codeName}" autocomplete="off", value="7"> 7 - #{highDescription}
				</label>